
{% if collection.image %}
  {%- assign imagenColeccion = collection.image -%}
{% elsif collection.products.first and collection.products.first.images != empty %}
  {%- assign imagenColeccion = collection.products.first.featured_image -%}
{% else %}
  {% assign imagenColeccion = blank %}
{% endif %}

<div class="grid-item-colecciones">
	<a href="{{ collection.url }}">
		<div class="img-container">
			{% if imagenColeccion != blank %}
				<div class="back-img lazyload"
					data-bgset="{% include 'bgset-desktop', image: imagenColeccion %}"
					style="background-image: url('{{ imagenColeccion | img_url: 'master' }}')">
				</div>
	    	{% else %}
				{% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
				{{ 'collection-' | append: current | placeholder_svg_tag: 'back-img lazyload' }}
	    	{% endif %}
		</div>
	</a>

	<div class="titulo">
		<h2>
			{% if collection.title == blank %}
	          	{{ 'homepage.onboarding.collection_title' | t }}
	        {% else %}
	          	{{ collection.title }}
	        {% endif %}
		</h2>
	</div>
</div>