<!-- snippet/product-price-custom.liquid -->
{% if variant.title %}
  {%- assign precioComparado = variant.compare_at_price -%}
  {%- assign precioItem = variant.price -%}
  {%- assign disponible = variant.available -%}
{% else %}
  {%- assign precioComparado = 1999 -%}
  {%- assign precioItem = 1999 -%}
  {%- assign disponible = true -%}
{% endif %}

<div class="precio-producto{% if precioComparado > precioItem %} precio-en-oferta{% endif %}{% if disponible %} sinStock{% endif %}" data-price>
  
    <div class="titulo-vendor">
        <p>{{ product.vendor }}</p>
    </div>

    <div class="precios">
        <div class="cantidades">
            <div class="precio-regular">
                <span data-regular-price>
                    {% if precioComparado > precioItem %}
                        {{ precioComparado | money }}
                    {% else %}
                        {{ precioItem | money }}
                    {% endif %}
                </span>
            </div>

            {% if precioComparado > precioItem  %}
                <div class="precio-oferta">
                    <span data-sale-price>
                        {{ precioItem | money }}
                    </span>
                    <span class="precioItem-tag-oferta" aria-hidden="true">{{ 'products.product.on_sale' | t }}</span>
                </div>
            {% endif %}
        </div>
        
        {% unless disponible %}
            <div class="itemAgotado">
                <p>{{ 'products.product.sold_out' | t }}</p>
            </div>
        {% endunless %}
    </div>

</div>
